test/dingding-workflow-robot.json
{
  "name": "dingding",
  "nodes": [
    {
      "parameters": {},
      "id": "24187c9e-f0ef-4522-a2d6-1a794f21efc5",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -700,
        580
      ]
    },
    {
      "parameters": {
        "msgtype": "={{ $json[\"msgtype\"] }}",
        "content": "={{ $json[\"content\"] }}"
      },
      "id": "4b345cac-5531-4271-93cc-709ae7fa7bff",
      "name": "钉钉机器人",
      "type": "n8n-nodes-dingtalk.dingTalkRobot",
      "typeVersion": 1,
      "position": [
        -240,
        580
      ],
      "credentials": {
        "dingTalkCustomRobot": {
          "id": "4",
          "name": "DingTalkCustomRobot account 2"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const msgs = [{\n    msgtype: \"text\",\n    content: {\n        \"content\":\"我就是我, @XXX 是不一样的烟火\"\n    }\n},{\n    msgtype: \"link\",\n    content: {\n        \"text\": \"这个即将发布的新版本，创始人xx称它为红树林。而在此之前，每当面临重大升级，产品经理们都会取一个应景的代号，这一次，为什么是红树林\", \n        \"title\": \"时代的火车向前开\", \n        \"picUrl\": \"\", \n        \"messageUrl\": \"https://www.dingtalk.com/s?__biz=MzA4NjMwMTA2Ng==&mid=2650316842&idx=1&sn=60da3ea2b29f1dcc43a7c8e4a7c97a16&scene=2&srcid=09189AnRJEdIiWVaKltFzNTw&from=timeline&isappinstalled=0&key=&ascene=2&uin=&devicetype=android-23&version=26031933&nettype=WIFI\"\n    }\n},{\n    msgtype: \"markdown\",\n    content: {\n         \"title\":\"杭州天气\",\n         \"text\": \"#### 杭州天气 @150XXXXXXXX \\n > 9度，西北风1级，空气良89，相对温度73%\\n > ![screenshot](https://img.alicdn.com/tfs/TB1NwmBEL9TBuNjy1zbXXXpepXa-2400-1218.png)\\n > ###### 10点20分发布 [天气](https://www.dingtalk.com) \\n\"\n     }\n},{\n    msgtype: \"actionCard\",\n    content: {\n        \"title\": \"乔布斯 20 年前想打造一间苹果咖啡厅，而它正是 Apple Store 的前身\", \n        \"text\": \"![screenshot](https://gw.alicdn.com/tfs/TB1ut3xxbsrBKNjSZFpXXcXhFXa-846-786.png) \\n ### 乔布斯 20 年前想打造的苹果咖啡厅\\n Apple Store 的设计正从原来满满的科技感走向生活化，而其生活化的走向其实可以追溯到 20 年前苹果一个建立咖啡馆的计划\",\n        \"btnOrientation\": \"0\",\n        \"singleTitle\" : \"阅读全文\",\n        \"singleURL\" : \"https://www.dingtalk.com/\"\n    }\n},{\n    msgtype: \"actionCard\",\n    content: {\n        \"title\": \"我 20 年前想打造一间苹果咖啡厅，而它正是 Apple Store 的前身\", \n        \"text\": \"![screenshot](https://img.alicdn.com/tfs/TB1NwmBEL9TBuNjy1zbXXXpepXa-2400-1218.png) \\n\\n #### 乔布斯 20 年前想打造的苹果咖啡厅 \\n\\n Apple Store 的设计正从原来满满的科技感走向生活化，而其生活化的走向其实可以追溯到 20 年前苹果一个建立咖啡馆的计划\", \n        \"btnOrientation\": \"0\", \n        \"btns\": [\n            {\n                \"title\": \"内容不错\", \n                \"actionURL\": \"https://www.dingtalk.com/\"\n            }, \n            {\n                \"title\": \"不感兴趣\", \n                \"actionURL\": \"https://www.dingtalk.com/\"\n            }\n        ]\n    }\n},{\n    msgtype: \"feedCard\",\n    content: {\n        \"links\": [\n            {\n                \"title\": \"时代的火车向前开1\", \n                \"messageURL\": \"https://www.dingtalk.com/\", \n                \"picURL\": \"https://img.alicdn.com/tfs/TB1NwmBEL9TBuNjy1zbXXXpepXa-2400-1218.png\"\n            },\n            {\n                \"title\": \"时代的火车向前开2\", \n                \"messageURL\": \"https://www.dingtalk.com/\", \n                \"picURL\": \"https://img.alicdn.com/tfs/TB1NwmBEL9TBuNjy1zbXXXpepXa-2400-1218.png\"\n            }\n        ]\n    }\n},]\n\n// return [{ json: msgs[1] }];\nreturn msgs;"
      },
      "id": "9a8fff67-6fea-439e-a7f1-9e2e9a8ff283",
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -460,
        580
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Function": {
      "main": [
        [
          {
            "node": "钉钉机器人",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": 4,
  "meta": {
    "instanceId": "2eaa8c80dbb1566c0844c519a886ca3155979768a7708d822e3d2f249e224f21"
  },
  "tags": []
}
